* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

main {
    margin: 0 10%;
    /* make sure items on bottom display correctly */
    margin-bottom: 150px; 
}

li {
    display: inline;
  }
  

/*Navbar container*/
nav {
    overflow: hidden;
    background-color: rgb(146, 212, 159);
    display: flex;
}

/*Links inside the Navbar*/
nav a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}

th, td{
    padding: 10px 10px 10px 10px;
    background-color: #f5f5f5;
    color:rgb(44, 114, 57);
  }

  table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
  }

  table button {
  width: 100%;
    align-items: "center";
    border-radius: 10px 10px 10px 10px;
  }

button a {
  text-decoration: none;
  color: white;
}
/*container for account dropdown*/
.dropdown {
    float: right;
    overflow: hidden;
}

/*button for account dropdown*/
.dropdown .dropbtn {
    font-size: 30px;  
    border: none;
    outline: none;
    color: white;
    padding: 17px 16px;
    background-color: inherit;
    font-family: inherit; /*helps align on mobile*/
    margin: 0; /*helps align on mobile*/
}

/*on hover background color*/
nav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(44, 114, 57);
}

.navRight {
    float: right;
    font-size: 30px;
    padding: 17px 16px;
}

/*dropdown box (hidden unless on hover)*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Text links in dropdown box*/
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*on hover background color for dropdown links*/
.dropdown-content a:hover {
    background-color: #ddd;
}

/*Shows dropdown menu on hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

.search-container {
    display: inline-flex;
    resize: vertical;
    /* flex-grow: 1; */
    margin-right: 10px;
    margin-left: 10px;
}

/* Style the search box inside the navigation bar */
.searchBar[type=text] {
    float: left;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 25px 0px 0px 25px;
    background: #f5f5f5;
  }

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

  input{
    width: 100%;
    padding: 12px;
    resize: vertical;
  }

  input[type=text]:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.userInfo{
    border: none;
    border-bottom: 2px solid rgb(44, 114, 57);
    margin: 20px;
  }

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-size: 25px;
    background: rgb(44, 114, 57);
    color: white;
    cursor: pointer;
}

/*styling for search button*/
.search-container button {
    padding: 10px;
    padding-right: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 0px 25px 25px 0px;
  }

.signupbtn {
    border-radius: 25px 25px 25px 25px;
    margin-top: 40px;
    margin-bottom: 100px;
}

button:hover {
  background: #ddd;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(146, 212, 159);
    color: white;
    text-align: center;
    font-size: 14px;
  }

  .visually-hidden {
    position: absolute;
    left: -1000px;
    top: -1000px;
  }

/*Google Icons Formatting*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* media queries */
/* When the screen is less than 600 pixels wide, hide all links, except Home. Show menu icon */
@media screen and (max-width: 1350px) {
  nav a:not(:first-child) {display: none;}
  nav div {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  nav *:not(:first-child) {display: none;}
}

@media screen and (max-width: 1350px) {
  nav.responsive {position: relative;}
  nav a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav {
    display: block;
  }
  nav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  nav.responsive form, nav input[type=text], nav .search-container button{
    float: none;
    display: flex;
    text-align: left;
  }
}